<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
      name="viewport">
<title>우아한테크코스 기술블로그</title>
<meta content="index, follow" name="robots">

<meta content="우아한테크코스, 프로그래밍, 개발자, 백엔드, 프론트엔드, Backend, Frontend, IOS, Android" name="keyword">
<meta content="우아한테크코스 크루 ooo의 개발 블로그" id="metaDesc" name="description">

<meta content="website" property="og:type">
<meta content="우아한테크코스" property="og:title">
<meta content="우아한테크코스 크루 ooo의 개발 블로그" id="metaOgDesc" property="og:description">
<meta content="images/logo/logo_thumnail_bg.jpg" property="og:image">
<meta content="https://woowacourse.github.io/" property="og:url">

<meta content="website" name="twitter:card">
<meta content="우아한테크코스" name="twitter:title">
<meta content="우아한테크코스 크루 ooo의 개발 블로그" id="metaTwitterDesc" name="twitter:description">
<meta content="images/logo/logo_thumnail_bg.jpg" name="twitter:image">
<meta content="https://woowacourse.github.io/" name="twitter:domain">

