<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>우아한테크코스 기술블로그</title>
    <th:block th:include="common/common_meta"></th:block>
    <th:block th:include="common/common_css"></th:block>
    <th:block th:include="common/common_article_css"></th:block>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/article-edit.css">
</head>
<body>
<div>
    <div class="header navbar bg-transparent no-border">
        <div class="header-container">
            <th:block th:include="common/common_index_logo"></th:block>
            <ul class="nav-right">
                <li id="header-user-dropdown-btn" class="user-profile dropdown no-border pointer">
                    <a class="user-info-link user-dropdown-menu dropdown-toggle" data-toggle="dropdown">
                        <img class="profile-img img-fluid"
                             src="https://avatars3.githubusercontent.com/u/46308949?s=460&v=4" alt="Brown">
                        <div class="user-info text-white">
                            <span class="name pdd-right-5">Brown</span>
                            <i class="ti-angle-down font-size-10"></i>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="text-dark">
                            <a href="mypage.html">
                                <i class="ti-user pdd-right-10"></i>
                                <span class="text-dark">마이 페이지</span>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="text-dark">
                            <a href="/index.html">
                                <i class="ti-power-off pdd-right-10"></i>
                                <span class="text-dark">로그아웃</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <form th:action="${#strings.isEmpty(article)? '/articles': #strings.concat('/articles/', article.id)}"
          name="article" method="post" accept-charset="utf-8">
        <input th:if="not ${#strings.isEmpty(article)}" type="hidden" name="_method" value="PUT">
        <div class="about-cover card no-border">
            <div class="cover-img overlay-dark bg"
                 th:style="'background:url('+ ${#strings.isEmpty(article)? '' : article.coverUrl} +');'">
                <div class="height-300px vertical-center pdd-horizon-50">
                    <div class="width-80">
                        <input type="hidden" th:value="${#strings.isEmpty(article) ? '' : article.id}">
                        <input type="text" name="title"
                               class="text-center bg-transparent no-border font-size-30 width-60 mx-auto d-block text-white border bottom"
                               th:placeholder="${#strings.isEmpty(article)? '제목을 입력해주세요' : article.title}"
                               autocomplete="off">
                        <input type="text" name="coverUrl"
                               class="text-center bg-transparent no-border font-size-16 width-30 mx-auto d-block text-light text-white border bottom pdd-top-20"
                               th:placeholder="${#strings.isEmpty(article)? '배경 url을 입력해주세요' : article.coverUrl}"
                               autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid max-width-lg mx-auto mrg-btm-30">
            <div class="row">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input id="article-contents" name="contents" type="hidden">
                    <div id="editSection" th:text="${#strings.isEmpty(article)? '' : article.contents}"></div>
                </div>
                <div class="col-lg-1 col-md-1">
                    <div class="btn-group btn-group-vertical">
                        <button id="save-btn" type="submit" class="btn btn-default">
                            <i class="ti-save"></i>
                        </button>
                        <a href="/" class="btn btn-default">
                            <i class="ti-close"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="common/common_js"></th:block>
<script type="text/javascript">
    const editor = new tui.Editor({
        el: document.querySelector('#editSection'),
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        events: {
            change: function () {
                document.getElementById('article-contents').setAttribute('value', editor.getMarkdown())
            }
        },
        height: 'calc(100vh - 360px)'
    });
</script>
</body>
</html>