<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="content">
    <div>
        <div class="about-cover card no-border ">
            <div class="cover-img overlay-dark bg" th:if="${article.coverUrl!=''}"
                 th:style="'background-image: url(' + ${article.coverUrl} + ');'">
                <div class="padding-30">
                    <h1 class="text-center cover-title" th:text="${article.title}"></h1>
                </div>
            </div>
            <div class="cover-img overlay-dark bg" style="background-image: url('/images/default/defaultImage.png')"
                 th:unless="${article.coverUrl!=''}">
                <div class="padding-30">
                    <h1 class="text-center cover-title" th:text="${article.title}"></h1>
                </div>
            </div>
        </div>

        <div class="container-fluid max-width-lg mx-auto mrg-vertical-30 padding-30">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <a class="float-right pointer btn btn-icon"
                       th:href="@{/articles/{articleId}/edit(articleId=${article.articleId})}" type="submit">
                        <i class="ti-pencil text-dark font-size-16 pdd-horizontal-5"></i>
                    </a>
                    <form method="post" th:action="@{/articles/{articleId}(articleId=${article.articleId})}">
                        <input name="_method" type="hidden" value="delete">
                        <button class="float-right pointer btn btn-icon" type="submit">
                            <i class="ti-trash text-dark font-size-16 pdd-horizontal-5"></i>
                        </button>
                    </form>
                    <div id="viewerSection"></div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 mx-auto">
                    <div class="profile-container row mrg-top-30 mrg-btm-30">
                        <div class="col-md-2 col-sm-4">
                            <img class="width-80px border-radius-round"
                                 src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/1514627_858869820895635_1119508450771753991_n.jpg?_nc_cat=110&_nc_ht=scontent-icn1-1.xx&oh=a32aa56b750b212aee221da7e9711bb1&oe=5D8781A4">
                        </div>
                        <div class="col-md-10 col-sm-7">
                            <span class="font-size-16 text-bold pdd-btm-5">Brown</span><span
                                class="font-size-12 text-gray"> / gracefulBrown@woowahan.com</span>
                            <p class="font-size-13 text-dimgray lh-1-3">
                                백엔드 개발자: 설계.테스트.생산성.클린코드.멘토링에 관심이 많음 <br>
                                Woowahantechcourse Organizer / Coach / Husband
                            </p>
                            <ul class="list-unstyle list-inline mrg-vertical-15">
                                <li class="list-inline-item no-pdd-horizon">
                                    <a class="btn-sm btn-facebook btn-icon btn-rounded sns-btn" href="">
                                        <i class="ti-facebook font-size-12"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item no-pdd-horizon">
                                    <a class="btn-sm btn-dark btn-icon btn-rounded sns-btn" href="">
                                        <i class="ti-github font-size-12"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 mx-auto mrg-top-30">
                    <div class="width-100 border bottom mrg-btm-20 pdd-btm-10">
                        <span class="font-size-16">댓글</span>
                        <span class="font-size-16 text-info" th:text="${comments.size()}"></span>
                    </div>
                    <div class="comment">
                        <ul id="comment-list" class="list-unstyled list-info">
                            <li class="comment-item border bottom mrg-btm-30" th:each="comment : ${comments}">
                                <img alt=""
                                     class="thumb-img img-circle"
                                     src="https://avatars3.githubusercontent.com/u/50367798?v=4">
                                <div class="info">
                                    <span class="text-bold inline-block"
                                          th:text="${comment.userName}"></span>
                                    <span class="sub-title inline-block pull-right">
                                    <i class="ti-timer pdd-right-5"></i>
                                    <span>6 min ago</span>

                                    </span>
                                    <p class="width-80" th:text="${comment.contents}"></p>
                                    <div th:id="comment+${comment.id}" style="display: none;">
                                        <form method="post" th:object="${comment}"
                                              th:action="@{/articles/{articleId}/comment/{commentId}(articleId=${article.articleId}, commentId=${comment.id})}">
                                            <input name="_method" type="hidden" value="put">
                                            <input th:id="comment+${comment.id}+text" th:value="${comment.contents}"
                                                   name="contents" class="text-area"
                                                   type="text"
                                                   style="border: 0; background-color: #fff; width: 80%; height: 100px; border-radius: 10px; margin-bottom: 10px">
                                            <button th:onclick="|javascript:updateComment('${comment.id}')|"
                                                    class="btn btn-info float-right mrg-btm-0 relative bottom-5"
                                                    type="button">수정
                                            </button>
                                        </form>
                                    </div>

                                    <div>
                                        <button class="pointer btn btn-icon" style="float: left;"
                                                th:onclick="|javascript:update('${comment.id}')|">
                                            <i class="ti-pencil text-dark font-size-10 pdd-horizontal-5"></i>
                                        </button>
                                        <form method="post"
                                              th:action="@{/articles/{articleId}/comment/{commentId}(articleId=${article.articleId}, commentId=${comment.id})}">
                                            <input name="_method" type="hidden" value="delete">
                                            <button class="pointer btn btn-icon" style="float: left;" type="button"
                                                    th:onclick="|javascript:deleteComment(${comment.id})|">
                                                <i class="ti-trash text-dark font-size-10 pdd-horizontal-5"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <p id="comment-edit-section" style="clear: both;"></p>
                                </div>
                            </li>
                        </ul>
                        <div class="add-comment">
                            <div id="editSection"></div>
                            <form th:action="@{/articles/{articleId}/comment(articleId=${article.articleId})}"
                                  method="post" style="margin-top: 20px;">
                                <input id="comment-contents" name="contents" type="hidden">
                                <input id="comment-create" class="btn btn-info float-right mrg-btm-0 relative bottom-5"
                                       type="button"
                                       value="댓글 작성">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor-full.js"></script>
    <script th:inline="javascript" type="text/javascript">
        const initValue = [[ ${article.contents}]];
        const viewer = tui.Editor.factory({
            el: document.querySelector('#viewerSection'),
            viewer: true,
            height: '100%',
            initialValue: initValue
        })

        const editor = new tui.Editor({
            el: document.querySelector('#editSection'),
            initialEditType: 'markdown',
            previewStyle: 'horizontal',
            events: {
                change: function () {
                    document.getElementById('comment-contents').setAttribute('value', editor.getMarkdown())
                }
            },
            height: '200px'
        });
    </script>
    <script th:inline="javascript" type="text/javascript">
        function deleteComment(commentId) {
            deleteData('/articles/' + articleId + '/comment/' + commentId)
                .then(data => {
                    print(data)
                    return JSON.stringify(data);
                })
                .catch(error => console.error(error));
        }

        function deleteData(url, data) {
            return fetch(url, {
                method: 'DELETE',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json',
                },
                redirect: 'follow',
                referrer: 'no-referrer',
                body: JSON.stringify(data),
            })
                .then(response => response.json());
        }

    </script>
    <script>
        function update(id) {
            const temp = "comment" + id;
            var x = document.getElementById(temp);
            x.style.display = "block";
        }
    </script>
    <script th:inline="javascript" type="text/javascript">
        const articleId = /*[[${articleId}]]*/'';

        function updateComment(commentId) {
            let contents = {contents: document.getElementById("comment" + commentId + "text").value};
            putData('/articles/' + articleId + '/comment/' + commentId, contents)
                .then(data => {
                    print(data)
                    return JSON.stringify(data);
                })
                .catch(error => console.error(error));
        }

        function putData(url, data) {
            return fetch(url, {
                method: 'PUT',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json',
                },
                redirect: 'follow',
                referrer: 'no-referrer',
                body: JSON.stringify(data),
            })
                .then(response => response.json());
        }

    </script>

    <script th:inline="javascript" type="text/javascript">
        let aId = /*[[${articleId}]]*/'';
        let commentList;
        document.getElementById("comment-create").addEventListener('click', function () {
            const data = {contents: document.getElementById('comment-contents').value};
            postData('/articles/' + aId + '/comment', data)
                .then(data => {
                    commentList = data;
                    print(commentList)
                    return JSON.stringify(data);
                })
                .catch(error => console.error(error));
        })

        function postData(url, data) {
            return fetch(url, {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json',
                },
                redirect: 'follow',
                referrer: 'no-referrer',
                body: JSON.stringify(data),
            })
                .then(response => response.json());
        }

        function print(comments) {
            console.log(comments);
            var i;
            var template = '';
            for (i = 0; i < comments.length; i++) {
                template = template + '<li class="comment-item border bottom mrg-btm-30" >\n' +
                    '<img alt=""\n' +
                    'class="thumb-img img-circle"\n' +
                    'src="https://avatars3.githubusercontent.com/u/50367798?v=4">\n' +
                    '<div class="info">\n' +
                    '<span class="text-bold inline-block"\n' +
                    `>${comments[i].userName}</span>\n` +
                    '<span class="sub-title inline-block pull-right">\n' +
                    '<i class="ti-timer pdd-right-5"></i>\n' +
                    '<span>6 min ago</span>\n' +
                    '\n' +
                    '</span>\n' +
                    `<p class="width-80" >${comments[i].contents}</p>\n` +
                    `<div id = comment${comments[i].id} style="display: none;">\n` +
                    '<form method="post"\n' +
                    `action=/articles/${articleId}/comment/${comments[i].id}>\n` +
                    '<input name="_method" type="hidden" value="put">\n' +
                    `<input id=comment${comments[i].id}text value=${comments[i].contents} name="contents" class="text-area"\n` +
                    'type="text"\n' +
                    'style="border: 0; background-color: #fff; width: 80%; height: 100px; border-radius: 10px; margin-bottom: 10px">\n' +
                    `<button onclick=updateComment(${comments[i].id}) class="btn btn-info float-right mrg-btm-0 relative bottom-5"\n` +
                    'type="button">수정\n' +
                    '</button>\n' +
                    '</form>\n' +
                    '</div>\n' +
                    '<div>\n' +
                    `<button class="pointer btn btn-icon" style="float: left;"\n onclick=update(${comments[i].id})>\n` +
                    '<i class="ti-pencil text-dark font-size-10 pdd-horizontal-5"></i>\n' +
                    '</button>\n' +
                    '<form method="post"\n' +
                    `action=/articles/${articleId}/comment/${comments[i].id}>\n` +
                    '<input name="_method" type="hidden" value="delete">\n' +
                    `<button class="pointer btn btn-icon" style="float: left;" type="button" onclick=deleteComment(${comments[i].id})>\n` +
                    '<i class="ti-trash text-dark font-size-10 pdd-horizontal-5"></i>\n' +
                    '</button>\n' +
                    '</form>\n' +
                    '</div>\n' +
                    '<p id="comment-edit-section" style="clear: both;"></p>\n' +
                    '</div>\n' +
                    '</li>';
            }
                document.getElementById('comment-list').innerHTML = template;
        }
    </script>
</th:block>
</html>
