<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>    '
    <title>우아한테크코스 기술블로그</title>
    <th:block th:include="common/meta"></th:block>
    <th:block th:include="common/css"></th:block>
    <th:block th:include="common/article_css"></th:block>
    <link rel="stylesheet" href="/css/article.css">
</head>
<body>
<div>
    <header id="header" class="header navbar bg-transparent no-border">
        <div class="header-container">
          <th:block th:include="common/index_logo"></th:block>
            <ul class="nav-right">
                <li id="header-user-dropdown-btn" class="user-profile dropdown no-border pointer">
                    <a class="user-info-link user-dropdown-menu dropdown-toggle" data-toggle="dropdown">
                        <img class="profile-img img-fluid"
                             src="https://avatars3.githubusercontent.com/u/46308949?s=460&v=4" alt="Brown">
                        <div class="user-info text-white">
                            <span class="name pdd-right-5" th:text="${(session.username == null)? 'Login' : session.username}"></span>
                            <i class="ti-angle-down font-size-10"></i>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="text-dark">
                            <a href="/mypage">
                                <i class="ti-user pdd-right-10"></i>
                                <span class="text-dark">마이 페이지</span>
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="text-dark">
                            <a href="/logout">
                                <i class="ti-power-off pdd-right-10"></i>
                                <span class="text-dark">로그아웃</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

    <div class="about-cover card no-border ">
        <div class="cover-img overlay-dark bg" th:style="'background:url('+${article.coverUrl}+');'">
            <div class="padding-30">
                <h1 class="text-center cover-title" th:text="${article.title}"></h1>
            </div>
        </div>
    </div>

    <div class="container-fluid max-width-lg mx-auto mrg-vertical-30 padding-30">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <a th:href="@{/articles/{articleId}/edit(articleId=${article.id})}" class="float-right pointer btn btn-icon">
                    <i class="ti-pencil text-dark font-size-16 pdd-horizontal-5"></i>
                </a>

                <form th:action="${#strings.concat('/articles/', article.id)}" name="article" method="post" accept-charset="utf-8" >
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit"><i class="ti-close"></i></button>
                </form>

                <div id="viewerSection"></div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 mx-auto">
                <div class="profile-container row mrg-top-30 mrg-btm-30">
                    <div class="col-md-2 col-sm-4">
                        <img class="width-80px border-radius-round"
                             src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/1514627_858869820895635_1119508450771753991_n.jpg?_nc_cat=110&_nc_ht=scontent-icn1-1.xx&oh=a32aa56b750b212aee221da7e9711bb1&oe=5D8781A4">
                    </div>
                    <div class="col-md-10 col-sm-7">
                        <span class="font-size-16 text-bold pdd-btm-5" th:text="${article.author.username}"></span>/<span class="font-size-12 text-gray" th:text="${article.author.email}"></span>
                        <p class="font-size-13 text-dimgray lh-1-3">
                            백엔드 개발자: 설계.테스트.생산성.클린코드.멘토링에 관심이 많음 <br>
                            Woowahantechcourse Organizer / Coach / Husband
                        </p>
                        <ul class="list-unstyle list-inline mrg-vertical-15">
                            <li class="list-inline-item no-pdd-horizon">
                                <a href="" class="btn-sm btn-facebook btn-icon btn-rounded sns-btn">
                                    <i class="ti-facebook font-size-12"></i>
                                </a>
                            </li>
                            <li class="list-inline-item no-pdd-horizon">
                                <a href="" class="btn-sm btn-dark btn-icon btn-rounded sns-btn">
                                    <i class="ti-github font-size-12"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 mx-auto mrg-top-30">
                <div class="width-100 border bottom mrg-btm-20 pdd-btm-10">
                    <span class="font-size-16">댓글</span>
                    <span class="font-size-16 text-info">2</span>
                </div>
                <div class="comment">
                    <ul class="list-unstyled list-info" id="comment-list">
                        <li class="comment-item border bottom mrg-btm-30" th:each="comment : ${article.comments}">
                            <form accept-charset="utf-8" method="post" name="comment-update" th:action="@{/comments/{articleId}/{commentId} (articleId = ${article.id}, commentId = ${comment.id})}" >
                                <input name="_method" type="hidden" value="DELETE">
                            <img class="thumb-img img-circle"
                                 src="https://avatars3.githubusercontent.com/u/50367798?v=4" alt="">
                            <div class="info view">
                                <span class="text-bold inline-block" href="" th:text="${comment.author.username}">Jun</span>

                                <button type="submit"><i class="ti-close"></i></button>

                                <span class="sub-title inline-block pull-right">
                                    <i class="ti-timer pdd-right-5"></i>
                                    <span>6 min ago</span>
                                </span>
                                <label class="width-80 label" th:text="${comment.text}">3주라는 짧은 기간에 효과적으로 연습하도록 하기 위해 의식적인 연습을 기반으로 미션을 진행하도록 설계했다. 교육자로 살다
                                    보니 효과적인 학습 방법에 대한 관심이 높아졌다. 효과적인 학습 방법을 찾던 중 “1만 시간의 재발견”이라는 책을 통해 의식적인 연습의 중요성을 느낄
                                    수 있는 계기가 되었다.</label>
                            </div>
                            <div>
                                <input class="edit" name="text">
                            </div>
                            </form>
                        </li>

                    </ul>
                    <div class="add-comment">
                        <form method="post" th:action="@{/comments/{articleId}(articleId = ${article.id})}">
                        <div id="editSection"></div>
                            <input id="comment-text" name="text" type="hidden">
                            <button class="float-right pointer btn btn-icon" type="submit">작성</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="common/js"></th:block>
<script th:inline="javascript">
    const initValue = [[${article.text}]];

    const viewer = tui.Editor.factory({
        el: document.querySelector('#viewerSection'),
        viewer: true,
        height: '100%',
        initialValue: initValue
    });

    const editor = new tui.Editor({
        el: document.querySelector('#editSection'),
        initialEditType: 'markdown',
        previewStyle: 'horizontal',
        events: {
            change: function () {
                document.getElementById('comment-text').setAttribute('value', editor.getMarkdown())
            }
        },
        height: '200px'
    });
    /*]]>*/

    function submitUpdate(updatedElement){
        if (confirm('수정 하시겠습니까?')) {
            updatedElement.querySelector("form[name=comment-update] input[name=_method]").setAttribute("value","PUT");
            updatedElement.querySelector("form[name=comment-update]").submit();
        }

    }

    const TODOAPP = (function () {
        const ENTER_KEY = 13;
        const ESC_KEY = 27;

        const TodoController = function () {
            const todoService = new TodoService();
            const commentList = document.getElementById('comment-list');

            const canUpdateTodo = function () {
                commentList.addEventListener('dblclick', function (event) {
                    if (event.target.classList.contains('label')) {
                        todoService.focus(event)
                    }
                })
            };

            const init = function () {
                canUpdateTodo()
            };

            return {
                init: init
            }
        };

        const TodoService = function () {
            const focus = function (event) {
                const updatedElement = event.target.closest('li');
                updatedElement.classList.toggle('editing');
                updatedElement.addEventListener('keydown', update)
            };

            const update = function (event) {
                const updatedElement = event.target.closest('li');
                const inputValue = updatedElement.querySelector('input.edit').value;
                if (event.which === ESC_KEY) {
                    updatedElement.classList.toggle('editing')
                }
                if (event.which === ENTER_KEY && inputValue !== "") {
                    updatedElement.querySelector('label').innerText = inputValue;
                    updatedElement.classList.toggle('editing');
                    submitUpdate(updatedElement);
                }
            };

            return {
                focus: focus
            }
        };

        const init = function () {
            const todoController = new TodoController();
            todoController.init()
        };

        return {
            init: init,
        };
    })();

    TODOAPP.init();
</script>
</body>
</html>
