<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>우아한 크루의 블로그</title>
    <th:block th:include="common/meta"></th:block>
    <th:block th:include="common/css"></th:block>
</head>
<body>
<div class="app">
    <div class="header navbar bg-transparent no-border">
        <div class="header-container pdd-right-15">
            <th:block th:include="common/index_logo"></th:block>
        </div>
    </div>
    <div class="authentication">
        <div class="sign-in-2">
            <div class="container-fluid no-pdd-horizon overlay-dark bg"
                 style="background-image: url('/images/default/bg.jpg')">
                <div class="row">
                    <div class="col-md-10 col-sm-12 mx-auto">
                        <div class="row">
                            <div class="mx-auto full-height col-md-4">
                                <div class="vertical-align full-height">
                                    <div class="table-cell padding-20">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="pdd-horizon-30 pdd-vertical-30">
                                                    <div class="mrg-btm-30">
                                                        <h2 class="text-center no-mrg-vertical mrg-btm-15 text-dark">
                                                            회원 탈퇴</h2>
                                                    </div>
                                                    <form action="/leave" method="post">
                                                        <input name="_method" type="hidden" value="DELETE">
                                                        <div class="form-group">
                                                            <input class="form-control" name="password" placeholder="password" type="password">
                                                        </div>
                                                        <div class="pull-right mrg-left-10">
                                                            <a href="/">홈으로 돌아가기</a>
                                                        </div>
                                                        <div class="mrg-top-20 text-right">
                                                            <button class="btn btn-tumblr" type="submit">회원탈퇴</button>
                                                        </div>
                                                    </form>
                                                    <div class="alert alert-danger" id="erorr" role="alert" th:if="${error}" th:text="${error}"></div>
                                                </div>
                                            </div>`
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="common/js"></th:block>
<script th:inline="javascript">
    /*<![CDATA[*/

    var result = /*[[${result}]]*/ '';
    if(result != null) {
        alert(result);
        location.href = "/";
    }

    /*]]>*/
</script>
</body>
</html>
