<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">


<th:block layout:fragment="content">
    <div class="app">
        <div class="header navbar bg-transparent no-border">
            <div class="header-container pdd-right-15">
                <ul class="nav-left mrg-left-0">
                    <li>
                        <a href="/">
                            <div class="logo logo-dark d-none"
                                 style="background-image: url('/images/logo/logo_full_dark.png')"></div>
                            <div class="logo logo-white"
                                 style="background-image: url('/images/logo/logo_full_white.png')"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="authentication">
            <div class="sign-in-2">
                <div class="container-fluid no-pdd-horizon overlay-dark bg"
                     style="background-image: url('/images/default/bg.jpg')">
                    <div class="row">
                        <div class="col-md-10 col-sm-12 mx-auto">
                            <div class="row">
                                <div class="mx-auto full-height col-md-4">
                                    <div class="vertical-align full-height">
                                        <div class="table-cell padding-20">
                                            <div th:if="${error}"
                                                 class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <strong th:text="${error}"></strong>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="pdd-horizon-30 pdd-vertical-30">
                                                        <div class="mrg-btm-30">
                                                            <h2 class="text-center no-mrg-vertical mrg-btm-15 text-dark">
                                                                로그인</h2>
                                                        </div>
                                                        <form method="post" action="/login">
                                                            <div class="form-group">
                                                                <input class="form-control" placeholder="Id"
                                                                       name="email"
                                                                       type="email">
                                                            </div>
                                                            <div class="form-group">
                                                                <input class="form-control" placeholder="Password"
                                                                       name="password"
                                                                       type="password">
                                                            </div>
                                                            <div class="checkbox font-size-13 text-dark inline-block no-mrg-vertical no-pdd-vertical">
                                                                <input id="agreement" name="agreement" type="checkbox">
                                                                <label for="agreement">로그인 유지</label>
                                                            </div>
                                                            <div class="pull-right mrg-left-10">
                                                                <a href="">Forgot Password?</a>
                                                            </div>
                                                            <div class="mrg-top-20 text-right">
                                                                <button type="submit" class="btn btn-tumblr">로그인
                                                                </button>
                                                            </div>
                                                        </form>
                                                        <div class="text-dark">
                                                            <span>아직 회원이 아니신가요?</span>
                                                            <a class="text-info pointer mrg-left-5"
                                                               href="/users/new">회원가입</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
