<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="content">
    <div>
        <div class="about-cover card no-border">
            <div class="cover-img overlay-dark bg" style="background-image: url('/images/pages/index/bg.jpg')">
                <div class="display-block height-100">

                </div>
            </div>
        </div>

        <div class="container-fluid max-width-lg mx-auto mrg-btm-30 padding-30">
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <div class="card">
                        <div class="card-heading pdd-btm-5 border bottom">
                            <h4 class="card-title d-inline-block">profile</h4>
                            <a class="float-right pointer btn btn-default btn-icon btn-rounded no-border-line no-mrg relative bottom-5"
                               href="/users/mypage/edit">
                                <i class="ti-pencil text-dark font-size-16 pdd-horizontal-5"></i>
                            </a>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Name</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10" th:text="${session.user.userName}"></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Email</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="mrg-top-10" th:text="${session.user.email}"></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>Avatar</b></p>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <img alt="" src="https://avatars3.githubusercontent.com/u/46308949?s=460&v=4"
                                             width="117">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <p class="mrg-top-10 text-dark"><b>SNS</b></p>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                        <span class="btn-dark border-radius-4 inline-block">
                                            <span class="pdd-horizon-10 lh-2-5 display-block">
                                                <i class="fa fa-github"></i>
                                            </span>
                                        </span>
                                            <span class="font-size-14 mrg-left-10 text-dark text-bold">Github</span>
                                        </div>
                                        <div class="col-md-8 text-right">
                                            <p class="mrg-top-10 text-dark">https://www.github.com/profile</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                    <span class="btn-facebook border-radius-4 inline-block">
                                        <span class="pdd-horizon-10 lh-2-5 display-block">
                                            <i class="ti-facebook"></i>
                                        </span>
                                    </span>
                                            <span class="mrg-left-10 font-size-14 text-dark text-bold">Facebook</span>
                                        </div>
                                        <div class="col-md-8 text-right">
                                            <p class="mrg-top-10 text-dark">https://www.facebook.com/profile</p>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <form action="/users/mypage" method="post">
                                <input name="_method" type="hidden" value="delete"/>
                                <button class="btn btn-info float-right mrg-btm-0 relative bottom-5" type="submit">탈퇴
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
