<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="content">
    <div>
        <div class="about-cover card no-border">
            <div class="cover-img overlay-dark bg" style="background-image: url('/images/pages/index/bg.jpg')">
                <div class="display-block height-100">
                </div>
            </div>
        </div>

        <div class="container-fluid z-10 bottom-120 relative max-width-lg mx-auto mrg-btm-30 padding-30">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-heading border bottom">
                            <h4 class="card-title">User List</h4>
                        </div>
                        <div class="card-body" th:each="user : ${users}">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <div class="pdd-vertical-10">
                                        <img alt=""
                                             class="thumb-img img-circle" src="https://avatars3.githubusercontent.com/u/46308949?s=460&v=4">
                                        <div class="info">
                                            <a class="title no-pdd-vertical text-semibold inline-block lh-1"
                                               href="/users"
                                               th:text="${user.userName}"></a>
                                            <span class="sub-title">
                                            <span th:text="${user.email}"></span>
                                        </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>
